.filterNav {
	display: none;
& h5 {
	margin-top: 0;
}
}

/* hides all submenus */
.filterMenu ul {
	height: 0;
	overflow: hidden;
}

/* todo, bring this into module css */

/* .filterMenu {
  > li.is-open > ul {
    height: auto;
  }
} */

.filterButton {
	border: 0;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

@media (--medium-up) {
	.filterNav {
		display: block;
	}
}
