/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.layout {
	padding-bottom: var(--wpl-spacing-15);

@media (--medium-up) {
		display: flex
}
}

@media (--medium-up) {

	.filters {
		/* unusual, but ensures search bar is centered, while also aligning
			 with left edge of grid items on large screens to match design  */
		width: calc(
			(var(--grid-max-width) - var(--searchbar-max-width)) * 0.5 -
				var(--grid-gutter)
		);
	}

	.results {
		flex-grow: 2;
	}
}
