.grid {
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--wpl-spacing-03);

	@media (min-width: 520px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (--large) {
		grid-template-columns: repeat(3, 1fr);
		gap: var(--wpl-spacing-06);
	}
}

.gridItem {
	border: 1px solid #ccc;
	text-align: center;
	padding: var(--wpl-spacing-02);

	& h4 {
		margin: 0.5rem 0 0.25rem;
	}

	& p {
		font-size: var(--page-font-size-sm);
		margin: 0 0 0.25rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.avatar {
	width: 106px;
	height: 110px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;

	& img {
		display: block;
		width: 108%;
		margin-left: -4%;
		height: auto;
	}
}

.noResults {
	text-align: center;
	max-width: var(
		--searchbar-max-width
	); /* centered with searchbar (at least on lg screen) */
}
